# Copy → .env.local (dev) or .env.production.local (prod build)

APP_VARIANT=development # development | production

# GRADLE_JVM_ARGS=-Xmx4096m -XX:MaxMetaspaceSize=1024m
# OBJDUMP=$HOME/Library/Android/sdk/ndk/.../llvm-objdump
