/* Should sync with src/styles/fonts.ts */

@theme inline {
  --font-bold: "Nunito_700Bold";
  --font-semibold: "Nunito_600SemiBold";
  --font-medium: "Nunito_500Medium";
  --font-regular: "Nunito_400Regular";
}
